@font-face {
  font-family: "TTLakes-Regular";
  src: url("fonts/TTLakes-Regular.woff");
}

@font-face {
  font-family: "TTLakes-Medium";
  src: url("fonts/TTLakes-Medium.woff");
}

@font-face {
  font-family: "TTLakes-Bold";
  src: url("fonts/TTLakes-Bold.woff");
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

h1 {
  color: #1b1c21;
  font-family: TTLakes-Bold, sans-serif;
  font-size: 28px;
  line-height: 40px;
}
body {
  margin: 0;
  min-width: 320px;
}
.header {
  margin: 0 16px;
  height: 88px;
  display: flex;
  justify-content: space-between;
}
.header-left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.divider {
  margin: 0 20px;
}
.header-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.check-status {
  margin-left: 16px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-left-side {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.check-status__button {
  margin-right: 20px;
}
.title__text {
  margin-left: 12px;
}

.main {
  background-color: #f8f8f8;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}
.link {
  color: #7e7e82;
  font-family: TTLakes-Medium, sans-serif;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  margin-left: 15px;
  text-decoration: none;
  padding: 8px 16px;
}

.link:hover {
  border: 2px solid #b8ffec;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 6px 14px;
}

.about {
  font-family: TTLakes-Regular, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.about__text {
  margin: 24px 20px 15px 24px;
  height: 90px;
  overflow: hidden;
}

.read-more {
  margin: 0 20px 15px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.read-more__text {
  font-family: TTLakes-Regular, sans-serif;
  color: #1b1c21;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 6px;
}
@media (width: 320px) {
  .header-mid-side {
    display: none;
  }
  .logo {
    margin-left: 16px;
  }
  .title-right-side {
    display: none;
  }
}
@media (width: 768px) {
  .divider {
    margin-left: 20px;
    margin-right: 20px;
  }
  .menu {
    order: -2;
  }
  .header-left-side__divider {
    order: -1;
  }
  .about {
    line-height: 20px;
  }
  .about__text {
    width: 305px;
    margin: 24px 20px 15px 24px;
    height: 160px;
    overflow: hidden;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  .image {
    width: 360px;
    margin-top: 24px;
    margin-right: 24px;
    border-radius: 5px;
  }
  .header-mid-side {
    margin-left: 260px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .chat {
    margin: 0 16px;
  }
  .title-right-side {
    display: none;
  }
}
@media (width: 1120px) {
  .header-mid-side {
    display: none;
  }
  .divider {
    margin-left: 20px;
    margin-right: 20px;
  }
  .menu {
    order: -2;
  }
  .header-left-side__divider {
    order: -1;
  }
  .about {
    line-height: 20px;
  }
  .about__text {
    width: 490px;
    margin: 24px 20px 15px 24px;
    height: 160px;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }
  .image {
    width: 360px;
    margin-top: 24px;
    margin-right: 24px;
    border-radius: 5px;
  }
  .header {
    display: none;
  }
  .image {
    width: 531px;
    margin-top: 24px;
    margin-right: 24px;
    border-radius: 5px;
  }
  .navigation {
    margin-left: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .link {
    margin: 0;
  }
  .repair__button {
    margin: 0 20px;
  }
  .title-right-side__text {
    font-family: TTLakes-Regular, sans-serif;
    color: #1b1c21;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}
